.card {
	width: 155px;
	height: 26px;
	background-image: linear-gradient(163deg, #00ff75 0%, #0051ff 100%);
	border-radius: 15px;
	transition: all .3s;
	text-align: center;
   }
   
   .card2 {
	width: 155px;
	height: 26px;
	background-color: #111827;
	border-radius:1px ;
	transition: all .2s;
   }
   
   .card2:hover {
	transform: scale(0.95);
	border-radius: 15px;
   }
   
   .card:hover {
	box-shadow: 0px 0px 20px 1px rgba(0, 255, 119, 0.3);
   }

.kug{
	color: white;
	a, a:visited, a:hover, a:active {
		color: inherit;
	}
}

